body {
  background-color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100vh;
}

ul.side-nav-ul {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 25vw;
  background: #22c7c1;
}

button {
  font-size: 100%;
  background-color: inherit;
  border: none;
  height: 100%;
  width: 100%;
  outline: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  height: 100%;
}

li {
  padding:0;
  margin:0;
  color:#000;
	background:#22c7c1;
	/* padding-top: 5px;
  padding-bottom: 5px; */
	float:left;
	width:auto;
}

li.router-link {
  padding:0;
  margin:0;
  color:#000;
	background:#22c7c1;
	/* padding-top: 5px;
  padding-bottom: 5px; */
	float:left;
	width:auto;
}

li.router-link:hover {
  background-color: white;
}

.router-links {
  padding: 0;
  margin: 0;
  color: #000;
  background: #22c7c1;
  float: left;
  width: auto;
  display: flex;
  flex-direction: column;
}

img {
  width: 16vw;
}

.img-container {
  width: auto;
}

.photo-display {
  display: flex;
  justify-content: center;
  list-style: none;

}



