body {
  color:white;
  background-color:#00695c;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png"); */
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100vh;
}

ul.side-nav-ul {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 25vw;
  background:#00bfa5;
  position: fixed;
  /* background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png"); */
}

button {
  font-weight: 600;
  font-size: 100%;
  background-color: inherit;
  border: none;
  height: 100%;
  width: 100%;
  outline: none;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  
}

/* button:hover {
  background-color: white;
  opacity: 60%;
} */

.active {
  /* background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png"); */
  background-color:#00695c;
}

a {
  height: 100%;
}


li.router-link {
  padding:0;
  margin:0;
  color:white;
	background:#00bfa5;
	/* padding-top: 5px;
  padding-bottom: 5px; */
	float:left;
  width:auto;
  /* background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png"); */
}

li.router-link:hover {
  background-color: #00897b
}

.router-links {
  padding: 0;
  margin: 0;
  color: white;
  background: #00bfa5;
  float: left;
  width: auto;
  display: flex;
  flex-direction: column;
}

.profile-pic {
  width: 16vw;
}

.img-container {
  width: auto;
}

.photo-display {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 25vw;
}

.social-icons {
  display: flex;
  flex-direction: column;
}

.social-icons-li {
  display: flex;
  justify-content: center;
}

a.social-icon {
  margin: 5px;
}

.resume {
  width: 75vw;
  display: flex;
  justify-content: center;
  margin-left: 25vw;
}

.resume-img {
  margin-top: 5vh;
  height: 90vh;
}

.carousel-div {
  width: 75vw;
  margin-left: 25vw;
  display: flex;
  justify-content: center;
}

.inner-carousel-div {
  width: 65vw;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

