.project-container {
  width: 75vw;
  display: flex;
  justify-content: center;
  margin-left: 25vw;
}

.project-list-item {
  list-style: none;
  margin-left: 5vw;
  margin-right: 5vw;
}

.project-list {
  display: flex;
  flex-direction: column;
}