.project-container {
  width: 75vw;
  display: flex;
  justify-content: center;
  margin-left: 25vw;
}

.project-list-item {
  list-style: none;
  margin-left: 5vw;
  margin-right: 5vw;
  /* border: solid; */
  margin-bottom: 2vh;
  background:#00bfa5;
  color: white;
}

.project-list {
  display: flex;
  flex-direction: column;
  padding: inherit;
}

.project-item-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}